ion-content {
  --overflow: hidden;
  --background: rgb(143,1,227);
  --background: linear-gradient(90deg, rgba(143,1,227,1) 0%, rgba(0,213,191,1) 62%);
}

.logo{
  margin-left: calc((100% - 250px) / 2);
  margin-top: 40px;
  height: 30%;
  opacity: 1;
  animation: fade-out-animation 4s ease-in forwards;
}

.logo-image{
  width: 250px; 
}

.text{
  font-weight: 700;
  margin-top: 10px;
  opacity: 1;
  animation: fade-out-animation 3s ease-in forwards;
}

.inner-scroll{
  overflow-y: hidden !important;
  
}

.scroll-y{
  overflow-y: hidden !important;
}

.element-container {
  overflow: hidden; /* Combine las propiedades overflow-x y overflow-y en una sola */
}

.element {
  min-height: 100%;
  height: 100%;
  // width: 100%;
  // margin-left: 0%;
  transition: transform 0.3s ease-out;
  //background: red;
}

.align-left {
  position: absolute;
  margin-left: 0%;
  margin-top: 0%;
  width: 50%;
  margin-top: 0%; 
}

.align-right {
  position: absolute;
  margin-left: 50%;
  margin-top: 0%;
  width: 50%;
  margin-top: 0%;
}

.elements{
  background-color: #82afec;
  opacity: 0;
  animation: fade-in-animation 1s ease-in forwards;
}

.image{
  border-radius: 10px;
}


.element{
}
/* */

.zoom-section{
  width: 300px;
  margin-left: calc((100% - 300px)/2);
  display: flex;
  margin-top: 15%;
  animation: fade-out-animation 3s ease-in forwards;
}

.left-click{
  width: 100px;
  height: 100px;
  animation: slide-animation 2s linear infinite;
}

.rigth-click{
  width: 100px;
  height: 100px;
  animation: slide-animation-right 2s linear infinite;
}

.toolbar{
  background: rgba(255, 0, 0, 0.164);
  
}

.navigation-footer{
  margin-bottom: 10px;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;
  background: transparent;
}

.toolbar-tabs{
  background: transparent;
}

ion-toolbar{
  border-radius: 15px;
}

.navigation-bar{
  border-radius: 10px !important;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoom-animation {
  0% {
    transform: (1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-animation-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .desktop{
    display: none;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  ion-content {
    --overflow: hidden;
    --background: rgb(143,1,227);
    --background: linear-gradient(90deg, rgba(143,1,227,1) 0%, rgba(0,213,191,1) 62%);
  }

  .logo{
    margin-left: calc((100% - 200px) / 2);
    margin-top: 25vh;
    height: 30%;
    opacity: 1;
    animation: fade-out-animation 4s ease-in forwards;
  }

  .zoom-section{
    margin-top: 40vh;
  }

  .element {
    min-height: 100%;
    height: 100%;
    // width: 100%;
    // margin-left: 0%;
    transition: transform 0.3s ease-out;
    //background: red;
    position: relative;
  }
  
  .align-left {
    position: absolute !important;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    margin-top: 2%; 
    z-index: 0 !important;
  }
  
  .align-right {
    position: absolute !important;
    margin-left: 0%;
    margin-top: 20%;
    width: 100%;
    margin-top: 45vh;
    z-index: 0 !important;
  }
  
  .elements{
    background-color: #82afec;
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
    position: relative;
  }

  .desktop{
    display: none;
  }
}


