.element-container {
  margin-left: 30px;
  margin-right: 30px;

  position: absolute;
  width: 100%;
  margin-left: 5%;
  margin-top: 10%;
}

.element{
  width: 50%;
  margin-left: 25%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}